@media only screen and (max-width: 1024px){
    .mainContent {
        height: 89%;
    }

    .trailList {
        height: 96.5%;
    }

}

@media only screen and (max-width: 950px){
    
    .wholeLogoContainer {
        height: 22vmin;
        position: absolute;
        left: 50%;
        top: 5%;
        transform: translate(-50%, 0) scale(1.5);
    }

    .searchInput {
        width: 60%;
    }

    .searchDiv {
        width: 70%;
    }

    .wholeLogoContainerLite{
        left: -7.5%;
        transform: scale(0.35);
        float: left;
        top: 9%;
    }

    .mapContainer {
        display: block;
        height: 50%;
        width: 100%;
    }

    .trailContainer {
        display: block;
        width: 100%;        
        margin-top: 5%;
        height: 45%;
    }

    .trailDiv img {
        width: 23vw;
        height: 23vw;
    }

    .header {
        height: 85px;
    }

    .mainContent {
        height: 86%;
    }
}

@media only screen and (max-width: 450px){
    
    html {
        font-size: 10px;
    }

    .wholeLogoContainerLite {
        transform: scale(0.25);
        left: -22.5%;
        top: 0;
    }

    .header {
        height: 60px;
    }

    .mainContent {
        height: 88%;
    }

}

@media only screen and (max-width: 360px){
     
    html {
        font-size: 9px;
    }

    .wholeLogoContainerLite {
        left: -25.5%;
    }

    .header {
        height: 50px;
    }

    .mainContent {
        height: 83%;
    }

}

@media only screen and (max-width: 320px){
     
    .wholeLogoContainerLite {
        left: -28.5%;
    }
}

@media only screen and (max-device-width: 1024px) and (orientation: landscape){
     
    html {
        font-size: 11px;
    }

    .header {
        height: 80px;
    }

    .wholeLogoContainerLite {
        left:   -4%;
        top: 10%;
        transform: scale(0.35);
    }

    .mainContent {
        height: 83%;
    }

    .trailList {
        height: 94.5%;
    }
}

@media screen and (max-device-width: 812px) and (orientation: landscape) {

    html {
        font-size: 9px;
    }

    .wholeLogoContainerLite {
        transform: scale(0.25);
        left: -8.5%;
        top: 0%;       
    }

    .mapContainer {
        display: inline-block;
        height: 100%;
        width: 52%;
    }

    .trailContainer {
        display:inline-block;   
        height:97%;
        width: 45%;
        margin-top: 0;
    }
    
    .trailDiv img {
        width: 12vw;
        height: 12vw;
    }

    .header {
        height: 50px;
    }

    .mainContent {        
        width: 95%;
        height: 80%;
    }
}

@media screen and (max-device-width: 580px) and (orientation: landscape) {

    html {
        font-size: 8px;
    }

    .wholeLogoContainerLite {
        left: -12.5%;       
    }
}