html {
    font-size: 12px;
}

body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
}

.container{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/bkgIMG/bkg-mountain.jpg");
}

#root{
    width: 100%;
    height: 100%;
}

.notValid{
    color: darkred;
}

.button-link {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1em;
	padding:0.5em 1em;
	text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
.button-link:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}

/***************************************************************************/
/*Logo*/
/***************************************************************************/
.wholeLogoContainer{    
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, 0);
}

.wholeLogoContainerLite {
    height: 100%;
    position: relative;
    transform: scale(0.45);
    float: left;
    top: 15%;
    cursor: pointer;
}

.logo{
    display: inline-block;
    height: 90%;
    width: 130px;
    position: relative;
}

.earthContainer{
    height: 111px;
    width: 111px;
    position: relative;
}

.earthContainer > .earth{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    animation-name: earthSpin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-direction: normal;
}

@keyframes earthSpin{
    0% {
        transform: rotateZ(359deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.hikerContainer{
    position: absolute;
    bottom: 100%;
    left: 50%;
    height: 80%;
    width: 95%;
    transform: translate(-50%, 0%);
}
.hikerContainer > .hiker{
    height: 80%;
    width: 80%;
    top: 21%;
    left: 5%;
    position: relative;
    z-index: 1;
}

.titleContainer{
    display: inline-block;
    font-family: 'Cabin', Arial, sans-serif;
    color: whitesmoke;
    font-size: 5em;
    height: 100%;
}


/***************************************************************************/
/*Main Page*/
/***************************************************************************/
.mainPage{
    position: relative;
    height:100%;
    width:100%;      
    min-height: 550px;
    overflow-y: auto;  
}

.searchContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height:4rem;
    width:100%;
    text-align: center; 
    font-size: 2.5rem;   
    color: rgba(255, 255, 255, 0.8);
}

.searchContainer div {
    height: 100%;
}

.searchContainer p{
    font-family: 'Cabin', sans-serif;
    font-size: 1.5rem;
    margin-top: 1.2rem;
}

.searchInput{
    display: inline-block;
    font-family: 'Cabin', sans-serif;
    width: 40%;
    height: 95%;
    text-align: center;
    border: 0;
    /* font-size: 1.8rem;  */
    font-size: 1.5rem;     
    color: rgba(255, 255, 255, 1);
    background-color: rgba(120, 120, 120, 0.25);
    box-shadow: inset 0 2px 2px black;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.form-control::-webkit-input-placeholder {
   color: rgba(250, 250, 250, 0.6);
   font-family: 'Cabin', Arial, sans-serif;
}

.startBtn{
    outline: none;
    border: none;
    background-color: rgba(120, 120, 120, 0.25);
    box-shadow: inset 0 2px 2px black;
    color: whitesmoke;
    /* font-size: 2rem;
    height: 4rem; */
    font-size: 1.7rem;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    vertical-align: top;
}

.input-group-btn {
    display: inline-block;
    vertical-align: top;
}

.startBtn > i.fas.fa-search {
    padding: 0 0.5rem;
    cursor: pointer;
}

.reset-instruction {
    position: absolute;
    bottom: 0;
    width: 100%;
}

p.label{
    text-align: center;
}

p.label a{
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Cabin', sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
}

/***************************************************************************/
/*Trail List Page*/
/***************************************************************************/
.pageContainer{
    height: 100%;    
    min-height: 650px;
}

.header {
    position: relative;
    height: 100px;
    background-color: rgba(29, 46, 1, 1);
    border-bottom: 1px solid rgba(255,255,255,0.7);
}

.searchDiv{
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(0,-50%);
}
.searchDiv div {
    height: 100%;
}

.searchDiv a{
    font-size: 2.5rem;
    text-decoration: none;
}

.mainContent{
    width: 90%;
    height: 81%;
    margin: 2% auto;
}

.mapContainer{
    display: inline-block;
    height: 100%;
    width: 59%;
    padding-right: 3%;
}

.googleMap{
    height: 100%;    
    border-radius: 15px;
    box-shadow: 5px 10px 18px black;
}

.trailContainer{
    display:inline-block;   
    height:100%;
    width: 38%;
    vertical-align: top;
}

.trailContainer .trailDiv:first-child{
    margin-top: 0;
}

.trailList{
    height: 94.5%;
    margin-top: 1.5%;
    padding-top: 1.5%;
    overflow-y: scroll;
}

.sorterContainer{
    text-align: right;
    margin-right: 5%;
    font-size: 1.5em;
}

.sorterContainer select{
    font-size: .9em;
    padding: .5%;
}

.trailDetailContainer{
    display:inline-block;
    height:50%;     
    margin-top:1.5%;
    font-size: 1.7rem;            
    padding: 0 0 1% 1%; 
}

.trailDetailContainerMargin{
    width: 100%;
    height: 100%;
    padding: 2.5%;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, .8); 
    box-shadow: 3px 3px 1px #999;
    overflow:hidden;
}

.detailTrail{
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%; 
}

.detailTrail > p:nth-child(2){
    font-size: 1.3em;
    font-weight: bold;
}

.detailTrail img{
    float: right;
    width: 50%;
}



.detailTrail span{
    font-weight: bold;
}

.directionsContainer{
    display:inline-block;
    height:50%;
    margin-top:1.5%;
    font-size: 1.5rem;  
    padding: 0 0 1% 0;    
}

.directionsContainerMargin{
    width: 100%;
    height: 100%;    
    overflow-y: auto; 
    padding: 2.5%;
    background-color: rgba(245, 245, 245, .8);
    border-radius: 15px;
    box-shadow: 3px 3px 1px #999;
}

.weatherContainer{
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

.amazonContainer{
    box-shadow: 3px 3px 1px #999;
    display:inline-block;
    height:45%;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(245, 245, 245, .8);
    border-radius: 15px;
}

.amazonItem{
    border: 1px solid black;
    display:inline-block;
    position: relative;
    height: 40%;
    width: 45%;
    margin: 0 3px;
    padding-top: 1%;
    text-align: left;
    background-color: whitesmoke;
    border-radius: 15px;
    overflow: hidden;
}

.amazonHeader{
    font-size: 4rem;
    position: relative;
    margin: 2px 0;
}

.amazonImage{
    position: absolute;
    width: 40%;
    left: 5%;
}

.amazonItemName{
    position: relative;
    font-size: 2rem;
    margin-bottom: 1%;
}

.amazonDescriptionArea{
    vertical-align: 50%;
    height: 90%;
    width: 50%;
}

/****** Trail CSS **********/
.trailDiv{
    border: 1px solid darkgreen;
    background-color: whitesmoke;
    border-radius: 15px;
    width: 90%;
    padding: 2%;
    margin: 4% auto;
    font-size: 1.4rem;
    opacity: 0.9;
    box-shadow: 5px 10px 18px black;
}

.trailDivFocus{    
    transform: scale(1.03);
    opacity: 1;
    background-color: #f8c967;
}

.trailDiv:hover{    
    transform: scale(1.03);
    opacity: 1;
}

.trailDiv > div{
    display: inline-block;
    vertical-align: top;
    width: 60%;
}

.trailDiv p{
    margin: 0 0 2% 0;
}

.trailDiv p:first-child{    
    font-size: 1.1em;
    font-weight: bold;
}

.trailDiv img{
    border-radius: 15px;
    margin-right: 4%;
    margin-left: 1%;
    width: 9vw;
    height: 9vw;
}

.trailDiv span{
    font-weight: bold;
}

.trailDiv a{
    float: right;
}

.scrollStyle::-webkit-scrollbar-track{
     box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
     background-color: #F5F5F5;
     border-radius: 10px;
 }
 
.scrollStyle::-webkit-scrollbar{
     width: 10px;
     background-color: #F5F5F5;
 }
 
.scrollStyle::-webkit-scrollbar-thumb{
     border-radius: 10px;
     background-color: #FFF;
     background-image: 
        -webkit-gradient(
            linear, 40% 0%, 75% 84%, 
            from(#4D9C41), 
            to(#19911D), 
            color-stop(.6,#54DE5D)
            )
}

.iframeRei{
    display: inline-block;
    vertical-align: top;
    border: 0;
    height: 100%;
    width: 100%;
}

.detailsModal{
    background-color:#2a2a2a;
    position: absolute;
    top: 12.5%;
    left: 5.7%;
    width: 59.4%;
    height: 82.5%;
}

.detailsModal button{
    position: relative;
    float: right;
    margin: 0.5%;
    padding-bottom: 3px;
    padding-top: 3px;
}

.hidden{
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    right: 16%;
    top: 55%;
    font-size: .9em;
    position: absolute;
    z-index: 1;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/******************************* PlanTrip  ********************************/
.plantrip{
    height: 100%;
    min-height: 650px;
}

.planTripSearch {
    width: 100%;
    height: 3rem;
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(0,-50%);
}

.planTripSearch div {
    height: 100%;
}

.planTripOptions {
    width: 38%;
    height: 98%;
    padding-bottom:1%;
    display: inline-block;
    vertical-align: top;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
}

.planTripTabs {
    /* width: 100%; */
    height: 40px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.tabLinks {
    font-family: 'Cabin', sans-serif;
    display: inline-block;
    width: 25%;
    height: 40px;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 40px;
    vertical-align: top;
    border-bottom: black 3px solid;
    box-sizing: border-box;
}
.tabLinks:last-child{
    background-color: rgb(201, 0, 0);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    color: white;
    border-bottom: black 3px solid;
    font-size: 1rem;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    vertical-align: top;
}
.tabLinks:hover {
    background-color: #ddd;
}
.tabLinks:last-child:hover{
    color: red;
    background-color: lightgreen;
}
.selected {
    background-color: #b9b8b8;
    color: #fff;
    text-shadow: 2px 1px 2px black;
}

.tabContent {
    height: calc(100% - 40px);
    width: 100%;
    margin: 0 auto;
    overflow: scroll;
}


/******************************Trail Detail (details.css) *******************************/
.detailsInfoContainer {
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.detailsImg {
    max-height: 50vh;
    border-radius: 15px;
}

.detailsTextArea {
    /*display: flex;*/
    width: 90%;
    font-family: 'Cabin', sans-serif;
    /*flex-flow: column nowrap;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

/*.detailsTextArea > * {
    /*text-align: center;
}*/

/*.detailsHeightArea {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}*/

.detailsName {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    color: rgba(0,0,0,0.9);
}

.detailsLocation {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgba(23,86,13,1);
    text-align: center;
}
.detailsElevation {
    margin-bottom: 20px;
}

.detailsSummary, .elevationTitle, .peaksTitle, .detailsTitle {
    font-size: 1.6rem;
    font-weight: bold;
}

.detailsLength, 
.detailsDifficulty, 
.detailsRating, 
.detailsAscent, 
.detailsDescent, 
.detailsHigh, 
.detailsLow {
    font-size: 1.4rem;
}
.detailsAscent, 
.detailsDescent, 
.detailsHigh, 
.detailsLow {
    padding-left: 2rem;
}

.detailsRating, .detailsSummary, .detailsHeightArea {
    margin-bottom: 20px;
}


/******************************* Driving Direction ******************************/

#drivingDirectionContainer {
    display: inline-block;
    /* width: 95%; */
    /*height: 95%;*/
    padding-left: 0.5%;
    vertical-align: top;
    margin-top: 1.5%;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 10px;
    /*overflow: scroll;*/
}

 /*******************************************************************/

.dateContainer{
    font-family: 'Cabin', Arial, sans-serif;
    width: 100%;
    height: auto;
    font-size: 1.5rem;
}

.datesSelect{
    display: flex;
    justify-content: center;
    font-size:2rem;
    color:white;
    flex-flow: column nowrap;
}

.datesSelect > div {
    margin: auto;
}

.dateLabel{
    margin: 0 auto;
    display: block;
    font-size:1.5rem;
    color:black;
}

.react-datepicker {
    font-size: 1em;
  }
  .react-datepicker__header {
    padding-top: 0.8em;
  }
  .react-datepicker__month {
    margin: 0.4em 1em;
  }
  .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: #000;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.6rem !important;
}
/* .react-datepicker-ignore-onclickoutside{
    font-size: 1.7rem !important;
} */
.react-datepicker_input-container > input{
    font-size: 1.7rem !important;
    height: -webkit-fill-available !important;
}


  .react-datepicker__current-month {
    font-size: 1em;
  }
  .react-datepicker__day:hover {
    border-radius: 0.5rem;
    height: 100%;
    background-color: #dad6d6;
}
  .react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
  }
  .react-datepicker__month-container {
    float: left;
    font-size: 1.5em;
}
  .react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
  }
  .react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
  }

input[type=date]{
    color:black;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 3px;
    margin-left: 1%;
}

::-webkit-datetime-edit-text { color: gray; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: gray; }
::-webkit-datetime-edit-day-field { color: gray; }
::-webkit-datetime-edit-year-field { color: gray; }
::-webkit-inner-spin-button { display: inline-block; }
::-webkit-calendar-picker-indicator { background: silver; }

.conditions{
    width:100%;
    height:88%;
}
.conditionsContainer{
    height: 94%;
    width: 100%;
    /* overflow: scroll; */
}

.day1, .day2, .day3{
    font-family: 'Dosis', Arial, sans-serif;
    height: 40%;
    /* width: 100%; */
    /* padding: 2%; */
    overflow: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 1px #999;
}

.day1{
    font-family: 'Cabin', Arial, sans-serif;
    /* margin-bottom: 9px; */
}

.day2{
    font-family: 'Cabin', Arial, sans-serif;
    border-left:1px solid grey;
    border-right: 1px solid grey;
    /* margin-bottom: 9px; */
}

.day3{
    font-family: 'Cabin', Arial, sans-serif;
}

.currentDay{
    height: 10%;
    margin:auto;
    font-size:1.5rem;
    padding-bottom:1%;
    padding-left: 10px;
}

.dayShadow{
    height: 11%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    background: linear-gradient(to top, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    text-shadow: 2px 2px 2px black;
}

.daySum{
    height: 30%;
    font-size:1.5rem;
    padding-left: 10px;
}

.dayHigh, .dayLow, .dayPrecip{
    height: 20%;
    white-space: nowrap;
    font-size: 1.5rem;
    padding-left: 10px;
}

.hidden{
    display:none;
}

.world {
    background: url("../assets/images/logo/earth.png");
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1000;
    left: 45%;
    height: 20vmin;
    position: absolute;
    top: 40%;
    width: 20vmin;
}

.hikerOrbit {
    border-radius: 50%;
    left: 45%;
    height: 19.5vmin;
    position: absolute;
    top: 40%;
    width: 19.5vmin;
    z-index: 1000;
    -webkit-animation: spin-right 2s linear infinite;
    -moz-animation: spin-right 2s linear infinite;
    -ms-animation: spin-right 2s linear infinite;
    -o-animation: spin-right 2s linear infinite;
    animation: spin-right 2s linear infinite;
}

.loadingHiker {
    background-image: url('../assets/images/logo/hiker.gif');
    border-radius: 50%;
    background-size: contain;
    transform: rotate(65deg);
    height: 45%;
    left: 90%;
    position: absolute;
    top: -5%;
    width: 45%;
}

.cantTouchThis{
    position: absolute;
    height:100vh;
    width:100vw;
    z-index: 100;
    background-color: rgba(0, 0, 0, .8);
}

.noClick{
    pointer-events: none;
}


@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spin-right {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@keyframes spin-right {
    100% {
        transform: rotate(360deg);
    }
}

.active{
    border: 3px solid black;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none;
}

::-webkit-scrollbar {
    width: 0px;
    border-radius:2px;
}

::-webkit-scrollbar-track {
    background: none; 
}
 
::-webkit-scrollbar-thumb {
    /* background: rgb(98,177,93);  */
}


