@media only screen and (max-width:1150px){
    .tabLinks {
        font-size: 1rem;
    }
    .tabLinks:last-child{
        font-size: 0.9rem;
    }
    .detailsName {
        font-size: 2rem;
    }
    .detailsLocation {
        font-size: 1.5rem;
    }
    .detailsSummary {
        font-size: 1.5rem;
        font-weight: normal;
    }
    .detailsLength, 
    .detailsDifficulty, 
    .detailsRating, 
    .detailsAscent, 
    .detailsDescent, 
    .detailsHigh, 
    .detailsLow {
    font-size: 1.3rem;
    }
/*    .smallTab{
        display:inline-block;
    }
    .bigTab{
        display:none;
    }*/
}

@media only screen and (max-width: 1024px){
    .mainContent {
        height: 89%;
    }

    .trailList {
        height: 96.5%;
    }



}

@media only screen and (max-width: 950px){
        
    .mapContainer {
        width: 100%;
        height: 50%;
        margin-bottom: 20px;
    }

    .planTripOptions{
        height:47%;
        width:100%;
    }
    .searchInput {
        width: 60%;
    }
    .searchDiv {
        width: 70%;
    }
    .wholeLogoContainerLite{
        left: -7.5%;
        transform: scale(0.45);
        float: left;
        top: 9%;
    }
    .trailContainer {
        display: block;
        width: 100%;        
        margin-top: 5%;
        height: 45%;
    }
    .trailDiv img {
        width: 23vw;
        height: 23vw;
    }
    .header {
        height: 85px;
    }
    .mainContent {
        height: 86%;
    }
    .tabLinks {
        font-size: 1.4rem;
    }
    .tabLinks:last-child {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width:768px){
    .day1, .day2, .day3 {
        background-repeat: repeat !important;
        background-size: contain !important;
    }
    .currentDay{
        height: 10%;
        margin: 1% auto;
        font-size: 1.5rem;
        padding-bottom: 1%;
        padding-left: 10px;
    }
    .dayHigh, .dayLow, .dayPrecip {
        display: inline-block;
        padding-right:10px;
    }
    .dayHigh, .dayLow{
        border-right: 2px solid #fefefe;
    }
    .dateContainer{
        height:14%;
    }
}

@media only screen and (max-width:768px){
/*    .bigTab{
        display:inline-block;
    }
    .largeTab{
        display:none;
    }*/

    .earthContainer {
        height: 100px;
        width: 100px;
        position: relative;
    }
    .logo {
        width: 110px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    
    .detailTrail img{
        float: right;
        width: 30%;
    }
}

@media only screen and (max-width:600px){

    .logo {
        width: 100px;
    }

    .earthContainer {
        height: 90px;
        width: 90px;
    }

    .titleContainer {
        font-size: 4em;
    }
}

@media only screen and (max-width:510px){

    .logo {
        width: 85px;
    }

    .earthContainer {
        height: 80px;
        width: 80px;
    }

    .titleContainer {
        font-size: 3.5em;
    }
}

@media only screen and (max-width: 550px){
    .tabLinks {
        font-size: 1.3rem;
    }
    .tabLinks:last-child {
        font-size: 1.2rem;
    } 
}

@media only screen and (max-width: 450px){
    
    html {
        font-size: 10px;
    }

    .wholeLogoContainerLite {
        transform: scale(0.4);
        left: -9.5%;
        top: 7%;
    }

    .logo {
        width: 75px;
    }

    .earthContainer {
        height: 70px;
        width: 70px;
    }

    .header {
        height: 60px;
    }

    .mainContent {
        height: 88%;
    }

    .weatherContainer{
        font-size: 3rem;
    }
    .dayHigh, .dayLow, .dayPrecip{
        white-space: normal;
    }
    .datesSelect p{
        font-size: 12px;
    }
    .amazonContainer button{
        width: 40%;
        font-size: 6px;
    }
    .trailDetailContainer{
        font-size: 4rem;
    }
    .directionsContainer{
        font-size: 4rem;
    }
}

@media screen and (max-width: 375px) {

    html {
        font-size: 9px;
    }

    .wholeLogoContainerLite {
        transform: scale(0.5);
        left: -4.5%;
    }

    .logo {
        width: 55px;
    }

    .earthContainer {
        height: 50px;
        width: 50px;
    }

    .titleContainer {
        font-size: 2.5em;
    }

    .header {
        height: 50px;
    }

    .mainContent {
        height: 90%;
    }

    .detailsName {
        font-size: 1.7rem;
    }
    .detailsLocation,
    .detailsTitle,
    .elevationTitle,
    .peaksTitle {
        font-size: 1.2rem;
    }
    .detailsSummary {
        font-size: 1.2rem;
        font-weight: normal;
    }
    .detailsLength, 
    .detailsDifficulty, 
    .detailsRating, 
    .detailsAscent, 
    .detailsDescent, 
    .detailsHigh, 
    .detailsLow {
    font-size: 1rem;
    }
}

@media only screen and (max-width: 950px) and (max-height: 815px){
    .mainContent {
        height: 90%;
    }
    
}

@media only screen and (max-width: 950px) and (max-height: 736px){
    .mainContent {
        height: 87%;
    }
}

@media only screen and (max-width: 950px) and (max-height: 640px){
    .mainContent {
        height: 84%;
    }
}

@media only screen and (max-width: 950px) and (max-height: 568px){
    .mainContent {
        height: 75%;
    }
}

@media only screen and (max-width: 950px) and (max-height: 480px){
    .mainContent {
        height: 61%;
    }
    .tabLinks {
        font-size: 1.2rem;
    }
    .tabLinks:last-child {
        font-size: 1rem;
    }
}

@media only screen and (max-device-width: 1024px) and (orientation: landscape){
     
    html {
        font-size: 11px;
    }

    .header {
        height: 80px;
    }

    .wholeLogoContainerLite {
        left:   -4%;
        top: 10%;
        transform: scale(0.35);
    }

    .mainContent {
        height: 83%;
    }

    .trailList {
        height: 94.5%;
    }

    .planTripOptions {
        height: 98%;
        width: 38%;
    }
}

@media screen and (max-device-width: 823px) and (orientation: landscape) {

    html {
        font-size: 9px;
    }

    .wholeLogoContainerLite {
        transform: scale(0.25);
        left: -8.5%;
        top: 0%;       
    }

    .mapContainer {
        display: inline-block;
        height: 100%;
        width: 52%;
    }

    .trailContainer {
        display:inline-block;   
        height:97%;
        width: 45%;
        margin-top: 0;
    }
    
    .trailDiv img {
        width: 12vw;
        height: 12vw;
    }

    .header {
        height: 50px;
    }

    .mainContent {        
        width: 95%;
        height: 45%;
    }

    .planTripOptions {
        width: 45%;
    }
}

@media screen and (max-device-width: 736px) and (orientation: landscape) {
    .mainContent { 
        height: 51%;
    }
}

@media screen and (max-device-width: 667px) and (orientation: landscape) {
    .mainContent { 
        height: 44%;
    }
}

@media screen and (max-device-width: 580px) and (orientation: landscape) {

    html {
        font-size: 8px;
    }
    .wholeLogoContainerLite {
        left: -12.5%;       
    }

    .mainContent { 
        height: 37%;
    }
}